
<h2>Bookmarks</h2>

<% @bookmarkers.each do |bookmarker| %>
  





<table>
  <tr>
    <td>Title:</td>
    <td><%= bookmarker.title() %></td>
   </tr>
  <tr>
    <td>Link:</td>
    <td><%= bookmarker.url() %></td>
   </tr>
   <tr>
    <td>Genre:</td>
    <td><%= bookmarker.genre() %></td>
   </tr>
    <td>Details:</td>
    <td><%= bookmarker.details() %></td>
   </tr>
</table>

  <div class="view">
    <a href="/bookmarker/<%= bookmarker.id %>">View Bookmark</a>
  </div>
<br>
<div class="customHr">.</div>
<% end %>

