<div class="content">

<h2>Bookmarks</h2>

<% @bookmarkers.each do |bookmarker| %>
  
  <b>Website:</b>
  <p><%= bookmarker.title() %></p>

  <b>Genre</b>
  <p><%= bookmarker.genre %></p>

  <b>Web Link</b>
  <p><%= bookmarker.url %></p>

  <b>Details</b>
<p><%= bookmarker.details %></p>

  <a href="/bookmarker/<%= bookmarker.id %>">View Bookmark</a>
  <hr />

<% end %>

</div>