
<!--  should have put this in table form for uniformity  -->
  <b>Website:</b>
  <p><%= @bookmarker.title %></p>

  <b>Genre</b>
  <p><%= @bookmarker.genre %></p>

  <b>Web Link</b>
  <p><%= @bookmarker.url %></p>

  <b>Details</b>
  <p><%= @bookmarker.details %></p>


  <a href="/bookmarker/<%= @bookmarker.id %>/edit">Edit Bookmark</a>

  <form action="/bookmarker/<%= @bookmarker.id %>/delete" method="post">
    <input type="submit" value="delete">
  </form>
